:root {
    --gate-brightness: 1.12;
    --approve: oklch(48.762% 0.11601 153.41);
    --approve-foreground: oklch(100% 0.00011 271.152);
}

.dark {
    --gate-brightness: 1.2;
}

@theme inline {
    --animate-small-ping: small-ping 3s infinite;
    --animate-gate-applied: gate-applied 0.3s 1;

    @keyframes small-ping {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.06);
      }
      100% {
        transform: scale(1);
      }
    }
    
    @keyframes gate-applied {
      0% {
        filter: brightness(1)
      }
      50% {
        filter: brightness(var(--gate-brightness))
      }
      100% {
        filter: brightness(1)
      }
    }
}